@use "../../styles/partials/mixins" as *;

.products {
  margin: 1rem 1rem 2.25rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 2rem 2.25rem 2rem;
  }
  @include desktop {
    justify-content: space-around;
    margin: 2rem 6.75rem 2.25rem 6.75rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    width: 17.5rem;
    height: 23.75rem;
    margin-bottom: 1.5rem;
    @include tablet {
      width: 23.75rem;
      height: 28.125rem;
      margin-bottom: 4.25rem;
    }
    @include desktop {
      margin: 2rem 3rem 6.25rem 2rem;
    }
  }
  &__img:hover {
    box-shadow: 0.0625rem 0.5rem 0.5rem 0rem rgba($color: #000000, $alpha: 0.9);
  }

  &__img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    width: 17.5rem;
    height: 18.75rem;
    transition: all 0.2s ease-in-out;
    @include tablet {
      width: 23.75rem;
      height: 25rem;
    }
    @include desktop {
      width: 26.25rem;
      height: 27.5rem;
    }
  }
  &__small-text {
    font-size: 0.875rem;
    @include tablet {
      font-size: 1.125rem;
    }
  }
  &__details-small {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
  }
  &__title-container {
    padding: 0.625rem 0.5rem 0rem 0.5rem;
  }
  &__details-title {
    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
  }
  &__cart-cta {
    font-size: 1.25rem;
    width: 3.75rem;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}
