.about{
    padding: 16px;
    &__container{
        padding: 0rem 0.5rem 0rem 0.5rem;
    }
    &__address{
        padding: 0.5rem 0rem 0.5rem 0rem;
    }
    &__description{
        padding-top: 1rem;
    }
}