//apiKey:
REACT_APP_FIREBASE_KEY =AIzaSyD7RchlT4FUcMXQjhswyCA3TgJUglw2dN4
//authDomain:
REACT_APP_FIREBASE_AUTH =fckingsick-2c710.firebaseapp.com
//projectId:
REACT_APP_FIREBASE_PROJECT_ID =fckingsick-2c710
//storageBucket:
REACT_APP_FIREBASE_STORAGE =fckingsick-2c710.appspot.com
//messagingSenderId:
REACT_APP_FIREBASE_MESSAGING_ID =711802793455
//appId:
REACT_APP_FIREBASE_APP_ID =1:711802793455:web:d086bd2c75e73455d09a1a
//measurementId:
REACT_APP_FIREBASE_MEASUREMENT_ID =G-NMCKMQB4HG


