.products--in-cart{
    font-size: 14px;
    width: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 2px 0px 2px 0px;
    align-items: center;
    background-color: white;
}