.cart {
    position: fixed;
    top: 60px;
    right: 20px;
    border-radius: 8px;
    overflow-y: hidden;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 14;
    &__item-list {
      height: max-content;
      max-height: 50vh;
      overflow-y: auto;
    }
    &__item-list:first-child{
      border-top: 1px solid black;
    }
    &__close-btn{
      border: none;
      background-color: white;
    }

    &__total-price {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    }
    &__btn-container{
     display: flex;
     justify-content: flex-end;
     outline: none;
    }
  }
  

  

  
  // .fa-times-circle {
  //   color: gray;
  //   transition: transform 0.2s linear;
  // }
  
  // .fa-times-circle:hover {
  //   transform: rotate(90deg);
  // }