.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 8rem 32px 8rem;
    gap: 5rem;
    &__container{
        display: flex;
        align-items: center;
        gap: 5rem;
    }
    &__link{
        text-decoration: none;
        color: inherit;
    }
    &__link--cart{
        justify-self: flex-end;
    }
    &__header2{
        padding-left: 36px;
    }
}