@use '../../styles/partials/mixins' as *;

.nav{
    display: none;
    @include desktop{
        display: flex;
        position: sticky;
        top: 0;
        justify-content: space-between;
        align-items: center;
        padding: 32px 8rem 32px 8rem;
        gap: 5rem;
        color: white;
        background-image: url(../../assets/background-images/concrete-background.jpg);
        // background-position: center;
        background-size: cover;
    }

    &__container{
        @include desktop {
            display: flex;
            align-items: center;
            gap: 5rem;
        }
    }
    &__link{
        @include desktop {
            text-decoration: none;
            color: inherit;
        }

    }
    &__link--cart{
        @include desktop {
            display: flex;
            position: relative;
            
        }

    }
    &__header2{
        @include desktop {
            padding-left: 36px;
        }
    }
    &__cart-items{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      color: white;
      background-color: red;
      border-radius: 50%;
      position: absolute;
      right: 0;
      
    }
}

.mobile-nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: grey;
    
@include desktop{
    display: none;
}
  &__btn {
    z-index: 10;
    border: none;
    background-color: inherit;
    cursor: pointer;
  }
  
  &__ul {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    align-items: center;
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: grey;
    right: 0;
    bottom: 0;
    height: 30vh;
    width: 0;
    overflow: hidden;
    max-width: 150px;
    z-index: 9;
    gap: 1rem;
    color: white;
  }
//   &__list-item{
//     padding: 16px;
//   }
  
  &--show {
    width: 100%;
    transition: 2s;
  }
  
  &__link {
    color: inherit;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
  }
//   &__link:hover {
//     color: inherit;
//     font-size: 16px;
//     color: blue;
//     text-decoration: none;
//     text-transform: uppercase;
//     do I need this for mobile? probably not
//   }
}