@use "../../styles/partials/mixins" as *;

.product-details {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    @include tablet {
      padding: 32px 64px 16px 64px;
    }
    @include desktop {
      padding: 48px 300px 16px 300px;
    }
    @include xl-desktop {
      padding: 48px 400px 16px 400px;
    }
  }
  &__details-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__details-wrapper:nth-child(2) {
    justify-content: space-between;
    flex: 1;
    padding-top: 16px;
  }
  &__details-wrapper:nth-child(3) {
    justify-content: space-between;
    flex: 1;
    padding-top: 16px;
  }

  &__description {
    padding: 32px 16px 32px 16px;
  }
}

.products__image {
  width: 17.5rem;
  height: 15.75rem;
  @include tablet {
    width: 47.5rem;
    height: 37.25rem;
  }
  @include desktop {
    width: 50.5rem;
    height: 40rem;
  }
  @include xl-desktop {
    width: 60rem;
    height: 50rem;
  }
}
.products__slider-wrapper {
  padding: 16px;

  @include tablet {
    width: 100%;
    height: 600px;
    padding: 32px 64px 32px 64px;
    margin-bottom: 32px;
  }
  @include desktop {
    padding: 32px 300px 32px 300px;
  }
  @include xl-desktop {
    height: 800px !important;
    padding: 0px 400px 0px 400px;
  }
}
.carousel.carousel-slider .control-arrow {
  @include xl-desktop {
    top: 50px;
    color: #fff;
    font-size: 26px;
    bottom: 0px;
    margin-top: 0;
    padding: 5px;
  }
}
.carousel .control-dots {
  @include xl-desktop {
    bottom: 0px;
  }
}
.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 90%);
  color: #fff;

  @include xl-desktop {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 90%);
    color: #fff;
  }
}

.carousel .slider-wrapper {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  text-align: center;
  @include xl-desktop {
    height: 800px !important;
    padding-top: 100px;
  }
}
